<section class="top">
  <div class="container top__container">
    <h1 class="visually-hidden">
      blogs
    </h1>
    <div class="swiper top__swiper">
      <div class="swiper-wrapper">
      </div>
    </div>

    <div class="top__swiper-navigation swiper-navigation">
      <button class="btn-reset top__swiper-btn swiper-navigation__btn swiper-navigation__prev"></button>
      <button class="btn-reset top__swiper-btn swiper-navigation__btn swiper-navigation__next"></button>
    </div>
  </div>
</section>
